<div class="max-w-2xl bg-white shadow-md rounded-lg border px-8 pt-6 pb-8 mb-4">
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-100 text-red-700 px-3 py-2 font-medium rounded-lg mt-3 border border-red-400">
      <h2 class="text-red-800"><%= t('activerecord.errors.models.product.save_error') %></h2>
      <ul class="mt-2">
        <% product.errors.each do |error| %>
          <li class="mb-1"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: product, class: "contents") do |form| %>

    <div class="relative z-0 w-full mb-5 group">
      <%= form.text_field :title, id: 'floating_title', class: "block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " " %>
      <%= form.label :title, t('forms.products.title'), for: 'floating_title', class: "peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="relative z-0 w-full mt-6 group">
      <%= form.text_area :description, rows: 4, id: 'floating_description', class: "block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " "  %>
      <%= form.label :price, t('forms.products.description'), for: 'floating_description', class: "peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
    </div>

    <div class="grid mt-6 md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <%= form.text_field :price, id: 'floating_price', class: "block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " " %>
        <%= form.label :price, t('forms.products.price'), for: 'floating_price', class: "peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Selecciona una categoria" }, { id: 'floating_category_id', class: "block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" } %>
        <%= form.label :category_id, t('forms.products.category'), for: 'floating_category_id', class: "peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
      </div>
    </div>

    <div class="my-5" data-controller="image-preview">
      <%= form.label :images, class: "block mb-2 text-sm font-medium text-black dark:text-black" do %>
        <%= t('forms.products.images') %><span class="text-red-500">*</span>
      <% end %>
      <div class="relative w-full">
        <label for="file-upload" class="block w-full text-sm text-white border border-gray-300 rounded-lg cursor-pointer bg-indigo-500 focus:outline-none dark:placeholder-gray-400 py-2.5 px-4 text-center">
          Seleccionar archivo(s)
        </label>
        <%= form.file_field :images, multiple: true, id: "file-upload", class: "hidden", data: { action: "image-preview#showPreview", image_preview_target: "input" } %>
      </div>
      <div id="image-preview" class="mt-4 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4" data-image-preview-target="preview"></div>
    </div>


    <div class="my-5">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-indigo-500 text-white inline-block font-medium cursor-pointer hover:bg-indigo-700 focus:outline-none focus:ring-0 focus:ring-blue-500 focus:ring-offset-2" %>
      <%= link_to "Back to products", products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>

  <% end %>

</div>