<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer email:</strong>
    <%= order.customer_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product quantity:</strong>
    <%= order.product_quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= order.total_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipping address:</strong>
    <%= order.shipping_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer name:</strong>
    <%= order.customer_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer phone:</strong>
    <%= order.customer_phone %>
  </p>

</div>
